<main class="container">
<%= turbo_frame_tag "1_frame" do %>
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote", new_quote_path, 
    class: "btn btn--primary",
    data: { turbo_frame: dom_id(Quote.new) }
    %>
    <!-- to disable turbolinks, add:  "data: { turbo: false }" -->              
  </div>
<% end %>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</main>